<!DOCTYPE HTML>
<html ng-app="app">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="resources/css/ext/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/style.css" rel="stylesheet" />
	<script src="resources/js/ext/ng/angular.min.js"></script>
	<script src="resources/js/ext/ng/appAngular.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="resources/js/ext/jQuery/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- start menu -->
	<script src="resources/js/ext/bootstrap/megamenu.js"></script>
	<link rel="stylesheet" href="resources/css/ext/bootstrap/megamenu.css">
	<script>
		$(document).ready(function () { $(".megamenu").megamenu(); });
	</script>
	<!-- end menu -->
	<!-- top scrolling -->
	<script src="resources/js/ext/bootstrap/easing.js"></script>
	<script src="resources/js/ext/bootstrap/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body ng-controller="checkOutController">

	<!-- MENU SUPERIOR -->
	<ng-include src="'PartialView/header.html'"></ng-include>

	<!-- SUB-MENU SUPERIOR -->
	<ng-include src="'PartialView/headerBottom.html'"></ng-include>

	<div style="padding-bottom: 3%">
		<div ng-show="!messageEmptyCart">
			<div class="wrap">
				<h4 class="title">Carrinho de compras vazio</h4>
				<p class="cart">Você não possui itens em seu carrinho de compras.<br>Clique <a href="index-ecommerce.html">aqui</a> para continuar comprando</p>
			</div>
		</div>
		<div class="wrap" ng-show="messageEmptyCart" style="margin-top: 4%;">
			<h4 class="title">Carrinho de compras</h4>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." style="padding: 2% 0 1% 2%;">
				<a href="index-ecommerce.html" class="btn btn-primary">Continuar Comprando</a>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th style="width: 1%;"></th>
						<th><strong>Quantidade</strong></th>
						<th style="padding-left: 5%;"><strong>Produto</strong></th>
						<th style="text-align: center;"><strong>Unit.</strong></th>
						<th style="text-align: center;"><strong>Total</strong></th>
					</tr>
				</thead>
				<tbody ng-repeat="produto in carrinhoCompras">
					<tr>
						<td><a href="#" ng-click="removerProdutoCarrinho(produto)"><span class="glyphicon glyphicon-remove" style="color: red"></span></a></td>
						<td ng-model="produto.Quantidade"style="padding-left: 4%;width: 11%;">{{produto.Quantidade}}
							<ul id="listIconsCart">
								<li><a href="#" ng-click="produto.Quantidade >= 1 ? produto.Quantidade=produto.Quantidade+1 : produto.Quantidade"><span class="glyphicon glyphicon-plus"></span></a></li>
								<li><a href="#" ng-click="produto.Quantidade > 1 ? produto.Quantidade=produto.Quantidade-1 : produto.Quantidade=1"><span class="glyphicon glyphicon-minus"></span></a></li>
							<ul>
						</td>
						<td ng-model="produto.Nome" style="padding-left: 5%;">{{produto.Nome}}</td>
						<td ng-model="produto.Preco" style="text-align: center; width: 11%;">{{produto.Preco  | currency:"R$ "}}</td>
						<td ng-model="produto.PrecoTotal" style="text-align: center; width: 11%;">{{produto.Preco * produto.Quantidade  | currency:"R$ "}}</td>
					</tr>
				</tbody>
				<tfoot>
					<td></td>
					<td></td>
					<td></td>
					<td class="tableFooterAlign"><strong>Total</strong></td>
					<td style="text-align: center;">{{totalCarrinho() | currency:"R$ "}}</td>
				</tfoot>
			</table>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." style="padding-left: 2%">
				<a href="index-ecommerce.html" class="btn btn-primary">Continuar Comprando</a>
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="..." style="padding-right: 13%; float: right;">
				<a href="index-ecommerce.html" class="btn btn-success" style="min-width: 148px;">Comprar</a>
			</div>
		</div>
	</div>
	<!-- RODAPÉ -->
	<ng-include src="'PartialView/footer.html'"></ng-include>

<script type="text/javascript">
	$(document).ready(function () {

		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};


		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>