<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="resources/css/ext/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/style.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <script src="resources/js/ext/ng/angular.min.js"></script>
    <script src="resources/js/ext/ng/appAngular.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="resources/js/ext/jQuery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- start menu -->
	<script src="resources/js/ext/bootstrap/megamenu.js"></script>
	<link rel="stylesheet" href="resources/css/ext/bootstrap/megamenu.css">
	<script>
		$(document).ready(function () { $(".megamenu").megamenu(); });
	</script>
	<!-- end menu -->
	<!-- top scrolling -->
	<script src="resources/js/ext/bootstrap/easing.js"></script>
	<script src="resources/js/ext/bootstrap/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body ng-controller="accountController">
	<!-- MENU SUPERIOR -->
	<ng-include src="'PartialView/header.html'"></ng-include>

	<!-- SUB-MENU SUPERIOR -->
	<ng-include src="'PartialView/headerBottom.html'"></ng-include>

	<div class="register_account" >
		
		<div ng-controller="checkOutController" class="wrap" ng-show="!final">
			<div>
					<h4 class="title" style="background: lavenderblush; border-radius: 100%;">Descrição do Pedido</h4>
					<table class="table table-condensed">
						<thead>
							<tr>
								<th><strong>Quantidade</strong></th>
								<th style="padding-left: 5%;"><strong>Produto</strong></th>
								<th style="text-align: center;"><strong>Unit.</strong></th>
								<th style="text-align: center;"><strong>Total</strong></th>
							</tr>
						</thead>
						<tbody ng-repeat="produto in carrinhoCompras">
							<tr>
								<td ng-model="produto.quantidade"style="padding-left: 4%;width: 11%;">{{produto.quantidade}}</td>
								<td ng-model="produto.nome" style="padding-left: 5%;">{{produto.nome}}</td>
								<td ng-model="produto.precoUnitario" style="text-align: center; width: 11%;">{{produto.preco  | currency:"R$ "}}</td>
								<td ng-model="produto.precoTotal" style="text-align: center; width: 11%;">{{produto.precoUnitario * produto.quantidade  | currency:"R$ "}}</td>
							</tr>
						</tbody>
						<tfoot>
							<td></td>
							<td></td>
							<td class="tableFooterAlign"><strong>Total</strong></td>
							<td style="text-align: center;">{{totalCarrinho() | currency:"R$ "}}</td>
						</tfoot>
					</table>
				</div>
			<div id="paymentContent">
				<h4 class="title" style="background: lavenderblush; border-radius: 100%;">Finalização da Compra</h4>
				<form name="adressConfirmation">
						<div class="col_1_of_2 span_1_of_2">
							<h1 class="title">Endereço de Entrega</h1>
							<div><input type="text" ng-model="usuario.Endereco" ng-init="usuario.Endereco" placeholder="Endereço" required ng-disabled="!isEditMode"></div>
							<input type="text" ng-model="usuario.Cep" ng-init="usuario.Cep" lass="code" placeholder="Cep" required ng-disabled="!isEditMode">
							<div>
								<select id="state" ng-model="usuario.Estado" name="Estado" class="frm-field required" required ng-disabled="!isEditMode">
									<option value="">Selecione um Estado</option>         
									<option ng-repeat="(key,estado) in estados" value="{{estado.sigla}}" ng-selected="usuario.Estado == estado.sigla ? onClickOption(key,estado) : ''" ng-click="onClickOption(key); usuario.Cidade = '';">{{estado.nome}}</option>
								</select>
								<select id="city" ng-model="usuario.Cidade" name="Cidade" class="frm-field required" required ng-disabled="!isEditMode">
									<option value="">Selecione uma Cidade</option>
									<option ng-repeat="city in estados[state_selected].cidades" ng-selected="usuario.Cidade == city ? city : ''" value="{{city}}" >{{city}}</option>
								</select>
							</div>
							<input type="text" ng-model="usuario.Telefone" ng-init="usuario.Telefone" placeholder="Telefone" required ng-disabled="!isEditMode">
							<div class="btn-group btn-group-sm" role="group" aria-label="..."  style="padding: 1.5% 5% 0% 0%; float: right;">
								<a href class="btn btn-primary" style="min-width: 148px;" ng-show="!isEditMode" ng-click="isEditMode=!isEditMode">Alterar Endereço</a>
								<a href class="btn btn-success" style="min-width: 148px;" ng-show="isEditMode" ng-click="adressConfirmation.$valid ? isEditMode=!isEditMode : ''">Concluir</a>
							</div>
						</div>
					</form>
						<div class="col_1_of_2 span_1_of_2">
							<h1 class="title">Forma de Pagamento</h1>
							<div class="btn-group btn-group-sm" style="padding: 2% 0% 2% 0%; width: 100%;" >
								<a class="btn btn-primary" ng-click="tab=1; usuario.CardPayment = true; usuario.Ticket = false; usuario.TransferPayment = false;" ng-init="tab=1" ng-class="{'active' : tab==1}" style="margin-right: 1%;">Cartão de Crédito</a>
								<a class="btn btn-primary" ng-click="tab=2; usuario.TransferPayment = true; usuario.Ticket = false; usuario.CardPayment = false" ng-class="{'active' : tab==2}" style="margin-right: 1%;">Transferência Bancária</a>
								<a class="btn btn-primary" ng-click="tab=3; usuario.Ticket = true; usuario.TransferPayment = false; usuario.CardPayment = false" ng-class="{'active' : tab==3}" style="margin-right: 1%;">Gerar Boleto</a>
							</div>
							<div class="tabs-container">
								<form name="cardPayment">
									<div class="tab-content" ng-show="tab == 1"> <!-- Cartão de Crédito -->
										<div><input type="text" ng-model="usuario.Card.NumeroCartao" placeholder="Numero do Cartão" required ng-disabled="paymentEditMode"></div>
										<div><input type="text" ng-model="usuario.Card.Nome" placeholder="Nome Completo" required ng-disabled="paymentEditMode"></div>
										<div><input type="text" ng-model="usuario.Card.Validade" placeholder="Validade do Cartão" required ng-disabled="paymentEditMode"></div>
										<div><input type="text" ng-model="usuario.Card.CodigoSeguranca" placeholder="Código de Segurança" required ng-disabled="paymentEditMode"></div>
										<div class="btn-group btn-group-sm" role="group" aria-label="..."  style="padding: 1.5% 5% 0% 0%; float: right;">
											<a href class="btn btn-primary" style="min-width: 148px;" ng-show="paymentEditMode" ng-click="paymentEditMode=!paymentEditMode" >Alterar Dados</a>
											<a href class="btn btn-success" style="min-width: 148px;" ng-show="!paymentEditMode" ng-click="cardPayment.$valid ? paymentEditMode=!paymentEditMode : ''; usuario.Transfer = [];">Concluir</a>
										</div>
									</form>
								</div>
								<div class="tab-content" ng-show="tab == 2"> <!-- Transferencia Bancária -->
									<form name="transferPayment">
										<div><input type="text" ng-model="usuario.Transfer.Banco" placeholder="Banco" required ng-disabled="paymentTransferEditMode"></div>
										<div><input type="text" ng-model="usuario.Transfer.Agencia" placeholder="Agência" required ng-disabled="paymentTransferEditMode"></div>
										<div><input type="text" ng-model="usuario.Transfer.NumeroConta" placeholder="Numero da Conta" required ng-disabled="paymentTransferEditMode"></div>
										<div class="btn-group btn-group-sm" role="group" aria-label="..."  style="padding: 1.5% 5% 0% 0%; float: right;">
											<a href class="btn btn-primary" style="min-width: 148px;" ng-show="paymentTransferEditMode" ng-click="paymentTransferEditMode=!paymentTransferEditMode" >Alterar Dados</a>
											<a href class="btn btn-success" style="min-width: 148px;" ng-show="!paymentTransferEditMode" ng-click="transferPayment.$valid ? paymentTransferEditMode=!paymentTransferEditMode : ''; usuario.Card = [];">Concluir</a>
										</div>
									</form>
								</div>
								<div class="tab-content" ng-show="tab == 3"> <!-- Boleto Bancário -->
									<form name="ticketPayment" style="margin-top:11%;">
										<input type="hidden" ng-model="usuario.Ticket" ng-init="1"/>
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: xx-large; color: green;"></span>
										<span style="margin-left: 3%;"> Você optou pelo pagamento através de boleto bancário.</span>
									</form>
								</div>
							</div>
							
						</div>
						<div class="btn-group btn-group-sm" style="padding: 5% 0% 2% 38.5%; width: 100%;" >
				<a href class="btn btn-danger" style="min-width: 148px;">Cancelar Compra</a>
				<a href class="btn btn-info" ng-click="adressConfirmation.$valid && cardPayment.$valid || transferPayment.$valid || usuario.Ticket ? final=!final:''; finalizarCompra();" style="min-width: 148px; margin-left:1%;">Finalizar Compra</a>
			</div>
					</div>
				<div class="clear"></div>
				
			
			<!--adress => {{adressConfirmation.$valid}} card => {{cardPayment.$valid }} transf => {{transferPayment.$valid }} ticket => {{usuario.Ticket}}-->
		</div>
		<div id="paymentFinalContent" style="text-align: center;" >
			<div class="Ticket" ng-show="usuario.Ticket && final" style="margin:9%;">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: xx-large; color:slateblue;"></span>
				<span style="margin-left: 3%;"> Pedido realizado com sucesso!</span><br>
				<span style="margin-left: 3%;"> Numero: 89794561231</span>
				<div class="btn-group btn-group-sm" style="padding: 2% 0% 0% 38.5%; width: 100%;" >
					<a href="boleto-ecommerce.html" class="btn btn-primary" ng-click=""style="min-width: 148px; margin-left:14%;">Imprimir boleto</a>
				</div>
			</div>
			<div ng-show="usuario.CardPayment && final" style="margin:9%;">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: xx-large; color:slateblue;"></span>
				<span style="margin-left: 3%;"> Pedido realizado com sucesso!</span><br>
				<span style="margin-left: 3%;"> Numero: 89794561231</span>
			</div>
			<div ng-show="usuario.TransferPayment && final" style="margin:9%;">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: xx-large; color:slateblue;"></span>
				<span style="margin-left: 3%;"> Pedido realizado com sucesso!</span><br>
				<span style="margin-left: 3%;"> Numero: 89794561231</span>
			</div>
		</div>

	<!-- RODAPÉ -->
	<ng-include src="'PartialView/footer.html'"></ng-include>
	
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>