<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="resources/css/ext/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/style.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <script src="resources/js/ext/ng/angular.min.js"></script>
    <script src="resources/js/ext/ng/appAngular.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="resources/js/ext/jQuery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="resources/js/ext/jQuery/jquery.maskedinput.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			
		
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- start menu -->
	<script src="resources/js/ext/bootstrap/megamenu.js"></script>
	<link rel="stylesheet" href="resources/css/ext/bootstrap/megamenu.css">
	<script>
		$(document).ready(function () { $(".megamenu").megamenu(); });
	</script>
	<!-- end menu -->
	<!-- top scrolling -->
	<script src="resources/js/ext/bootstrap/easing.js"></script>
	<script src="resources/js/ext/bootstrap/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body ng-controller="accountController">
	<!-- MENU SUPERIOR -->
	<ng-include src="'PartialView/header.html'"></ng-include>

	<!-- SUB-MENU SUPERIOR -->
	<ng-include src="'PartialView/headerBottom.html'"></ng-include>

	<div class="register_account">
		<div class="wrap">
			<h4 class="title">Criar Conta</h4>
			<form name="enjoy">
				<div class="col_1_of_2 span_1_of_2">
					<div><input type="text" ng-model="consumer.nome" placeholder="Nome" required></div>
					<div><input type="text" ng-model="consumer.sobrenome" placeholder="Sobrenome" required></div>
					<select id="state" ng-model="consumer.sexo" class="frm-field required" required>
							<option value="" ng-selected="true">Sexo</option>         
							<option value="masculino">Masculino</option>
							<option value="femino">Feminino</option>
						</select>
					<div><input type="text" ng-model="consumer.email" placeholder="Email" required></div>
					<div><input type="text" ng-model="consumer.rg" placeholder="RG" required>
						<input type="text" id="cpf" ng-model="consumer.cpf" placeholder="CPF" required></div>
					<div><input type="password" ng-model="consumer.primeiraSenha" placeholder="Senha" required></div>
					<div><input type="password" ng-model="consumer.senha" placeholder="Confirmar Senha" ng-blur="verifyPassword(consumer.Senha,consumer.SenhaConfirma)" required></div>
					<div style="margin-bottom: 20px"><strong style="font-size: small; color: red;" ng-show="errorMessage">Senha e confirmação de senha inválidos!</strong></div>
					<div class="btn-group btn-group-sm" role="group" aria-label="..."  style="padding: 1.5% 2% 0% 0%; float: left;">
						<a href="register-ecommerce.html" class="btn btn-success" style="min-width: 148px;" ng-click="cadastrarUsuario(consumer)">Cadastrar</a>
					</div>
				<p class="terms">Ao clicar em 'Cadastrar' você concorda com os <a href="#">Termos &amp; Condições do site</a>.</p>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<div>
						
						<input type="text" ng-model="consumer.endereco.logradouro" placeholder="Endereço" required>
					</div>
					<input type="text" ng-model="consumer.endereco.numero" class="code" placeholder="Numero" required>
					<input type="text" id="cep"ng-model="consumer.endereco.cep" class="code" placeholder="Cep" required>
					<input type="text" ng-model="consumer.endereco.bairro" placeholder="Bairro" required>
					<div>
						<select id="state" ng-model="consumer.endereco.estado" name="Estado" class="frm-field required" required ng-init="carregarEstados()">
							<option value="" ng-selected="true">Selecione um Estado</option>         
							<option ng-value="item.state" ng-repeat="item in listEstates">{{item.abrev}}</option>
						</select>
						<input type="text" id="city" ng-model="consumer.endereco.cidade" placeholder="Cidade" name="Cidade" class="frm-field required" required>
					</div>
					
					<input type="text" id="telefone" ng-model="consumer.celular" placeholder="Telefone" required>
				</div>
				<div class="clear"></div>
			</form>
			{{consumer}}
		</div>
	</div>
	<!-- RODAPÉ -->
	<ng-include src="'PartialView/footer.html'"></ng-include>
	
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });
			
			$('#cpf').mask('999.999.999-99');
			$('#cep').mask('99999-999');
			$('#telefone').mask('(99)99999-9999');

		});
	</script>
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>