<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="resources/css/ext/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/style.css" rel="stylesheet" />
	<link href="resources/css/ext/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <script src="resources/js/ext/ng/angular.min.js"></script>
    <script src="resources/js/ext/ng/appAngular.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="resources/js/ext/jQuery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- start menu -->
	<script src="resources/js/ext/bootstrap/megamenu.js"></script>
	<link rel="stylesheet" href="resources/css/ext/bootstrap/megamenu.css">
	<script>
		$(document).ready(function () { $(".megamenu").megamenu(); });
	</script>
	<!-- end menu -->
	<!-- top scrolling -->
	<script src="resources/js/ext/bootstrap/easing.js"></script>
	<script src="resources/js/ext/bootstrap/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body ng-controller="newAccountController">
	<!-- MENU SUPERIOR -->
	<ng-include src="'PartialView/header.html'"></ng-include>

	<!-- SUB-MENU SUPERIOR -->
	<ng-include src="'PartialView/headerBottom.html'"></ng-include>

	<div class="register_account">
		<div class="wrap">
			<h4 class="title">Criar Conta</h4>
			<form name="enjoy">
				<div class="col_1_of_2 span_1_of_2">
					<div><input type="text" ng-model="usuario.Nome" placeholder="Nome" required></div>
					<div><input type="text" ng-model="usuario.Sobrenome" placeholder="Sobrenome" required></div>
					<div><input type="text" ng-model="usuario.Email" placeholder="Email" required></div>
					<div><input type="password" ng-model="usuario.Senha" placeholder="Senha" required></div>
					<div><input type="password" ng-model="usuario.SenhaConfirma" placeholder="Confirmar Senha" ng-blur="verifyPassword(usuario.Senha,usuario.SenhaConfirma)" required></div>
					<div style="margin-bottom: 20px"><strong style="font-size: small; color: red;" ng-show="errorMessage">Senha e confirmação de senha inválidos!</strong></div>
					<div class="btn-group btn-group-sm" role="group" aria-label="..."  style="padding: 1.5% 2% 0% 0%; float: left;">
						<a href="register-ecommerce.html" class="btn btn-success" style="min-width: 148px;">Cadastrar</a>
					</div>
				<p class="terms">Ao clicar em 'Cadastrar' você concorda com os <a href="#">Termos &amp; Condições do site</a>.</p>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<div><input type="text" ng-model="usuario.Endereco" placeholder="Endereço" required></div>
					<div>
				<select id="country" ng-model="usuario.Pais" name="País" class="frm-field required" required>
		            <option value="">Selecione um País</option>         
		            <option ng-repeat="pais in paises" value="{{pais.sigla}}">{{pais.nome_pais}}</option>
		         </select></div>
					<div><input type="text" ng-model="usuario.Cidade" placeholder="Cidade" required></div>
					<input type="text" ng-model="usuario.Cep" class="code" placeholder="Cep" required>
					<input type="text" ng-model="usuario.Telefone" placeholder="Telefone" required>
				</div>
				<div class="clear"></div>
			</form>
		</div>
	</div>

	<!-- RODAPÉ -->
	<ng-include src="'PartialView/footer.html'"></ng-include>
	
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>