<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue" ng-controller="headerController">
            <li>
                <a class="color1" href="index-ecommerce.html" ng-click="redirectToCategory(null)" >HOME</a>
            </li>
            <li ng-repeat="cat in categoria">
                <a class="color1" href="" ng-click="redirectToCategory(cat)" ng-model="cat">{{cat}}</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>